:root {
  --color-primary: 232, 35, 40;
  --color-primary-50: 252.7, 233, 233.5;
  --color-primary-100: 250.39999999999998, 211, 212;
  --color-primary-200: 245.8, 167, 169;
  --color-primary-300: 241.2, 123, 126;
  --color-primary-400: 236.60000000000002, 78.99999999999999, 82.99999999999999;
  --color-primary-500: 232, 35, 40;
  --color-primary-600: 185.60000000000002, 28, 32;
  --color-primary-700: 139.2, 21, 24;
  --color-primary-800: 92.80000000000001, 14, 16;
  --color-primary-900: 46.39999999999999, 6.999999999999998, 7.999999999999998;
  --color-primary-950: 23.199999999999996, 3.499999999999999, 3.999999999999999;
}
