:root,
page {
  --color-primary: 2, 141, 113;
  --color-primary-50: 229.7, 243.6, 240.8;
  --color-primary-100: 204.4, 232.2, 226.6;
  --color-primary-200: 153.8, 209.4, 198.2;
  --color-primary-300: 103.2, 186.6, 169.8;
  --color-primary-400: 52.59999999999999, 163.8, 141.39999999999998;
  --color-primary-500: 2, 141, 113;
  --color-primary-600: 1.6, 112.80000000000001, 90.4;
  --color-primary-700: 1.2, 84.6, 67.8;
  --color-primary-800: 0.8, 56.400000000000006, 45.2;
  --color-primary-900: 0.3999999999999999, 28.199999999999992,
    22.599999999999994;
  --color-primary-950: 0.19999999999999996, 14.099999999999996,
    11.299999999999997;
}